:root {
  --primary-blue: #badbf3;
  --dark-blue: #0c3350;
  --blue-gradient: linear-gradient(
    90deg,
    var(--primary-blue) 0%,
    var(--dark-blue) 200%
  );

  --primary-orange: #f3dfba;
  --dark-orange: #8d816c;
  --orange-gradient: linear-gradient(
    90deg,
    var(--primary-orange) 0%,
    var(--dark-orange) 100%
  );

  --primary-green: #61cb85;
  --light-green: #acf6c5;
  --dark-green: #499964;
  --green-gradient: linear-gradient(
    90deg,
    var(--light-green) 0%,
    var(--dark-green) 100%
  );

  --primary-purple: #bbbaf3;
  --hoya-devs-purple: #dbd7f9;
  --naimun-blue: #eef9ff;
  --filedai-purple: #e6eeff;
  --hoyalytics-blue: #58cced;
  --background-color: #111;
  --hoyahelper-blue: #c3dff5;
  --fpo-blue: #adb8c1;
  --border-gradient: linear-gradient(135deg, #444444 0%, #888888 100%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  scrollbar-width: none;
  background: var(--background-color);
  scroll-behavior: smooth;
}

.chip {
  padding: 10px 16px;
  border-radius: 100px;
  font-weight: 400;
  font-size: 16px;
  width: fit-content;
}

.button {
  padding: 10px 16px;
  border-radius: 100px;
  font-weight: 400;
  font-size: 16px;
  width: fit-content;
  text-decoration: none;
  color: black;
  margin-right: 10px;
}
